.ctn-gallery.composer{
	float:left;
	width:100%;
	background:#eee;
	padding:1px;	
}
.composer .ctn-img{
	float:left;
	width:104px;
	height:104px;
}
.composer .ctn-img a{
	float:left;
	width:100px;
	height:100px;
	display:inline;
	overflow:hidden;
	border:1px solid #666;
	margin:1px;
}
.composer .ctn-img a:hover{
	border:1px solid #fff;
	
}