@font-face {
  font-family: 'idealsansbook';
  src: url('../../dist/fonts/idealsansbook/IdealSans-Book-Pro.eot'); /* IE9 Compat Modes */
  src: url('../../dist/fonts/idealsansbook/IdealSans-Book-Pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../dist/fonts/idealsansbook/IdealSans-Book-Pro.woff') format('woff'), /* Modern Browsers */
  url('../../dist/fonts/idealsansbook/IdealSans-Book-Pro.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../../dist/fonts/idealsansbook/IdealSans-Book-Pro.svg#b84924955d4e41e662c6092e94e569bf') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}