#GeneralWrapper {
  header {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 15;
    overflow: hidden;
    background: -moz-linear-gradient(top, #FFBF00 0%, #FD4600 100%);
    background: -webkit-linear-gradient(top, #FFBF00 0%, #FD4600 100%);
    background: linear-gradient(to bottom, #FFBF00 0%, #FD4600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9017', endColorstr='#f56e00',GradientType=0 );
    a{
      display: inline-block;
      .logo {
        width: 180px;
        float: left;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .visuel {
      height: 100%;
      width: 100%;
      position: relative;
      .header_main_visuel_wrapper {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 90%;
        min-width: 200px;
        max-width: 720px;
        animation: comeOn 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        img {
          width: 100%;
          position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
          &.visu_down{
            z-index: 1;
            animation: upDown 8s ease infinite;
          }
          &.visu_middle{
            z-index: 2;
            animation: move 8s ease infinite 2s;
          }
          &.visu_up{
            z-index: 3;
            animation: upDown 8s ease infinite;
          }
        }
        @include breakpoint($sm) {
          width: 80%;
        }
      }
    }

  &.inpage{
    height: auto;
    width: auto;
    position: inherit;
    .inpage-visuel{
      .inpage-visuel-wrapper{
        max-width: 500px;
        margin: 0 auto;
        padding-bottom: 40px;
        img{
          width: 100%;
          height: auto;
        }

      }
    }
  }

    .next-slide {
      text-align: center;
      color: white;
      z-index: 5;
      position: absolute;
      bottom: 5%;
      left: 50%;
      @include transition(all, 1s, ease);
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      opacity: 1;

      animation: bounce 0.6s ease infinite alternate;
      -webkit-animation: bounce 0.6s ease infinite alternate;

      @keyframes bounce{
           from {bottom: 5%;}
           to   {bottom: 6%;}
      }
      @-webkit-keyframes bounce{
           from {bottom: 5%;}
           to   {bottom: 6%;}
      }

      i {
        color: white;
        font-size: ms(10);
        cursor: pointer;
      }

      &.hideslide{
        bottom: -10%;
      }
    }

    .top_header {
      position: relative;
      z-index: 5;
      padding-top: 20px;
      @include breakpoint($xs) {
        text-align: center;
      }

      .menu-mobile {
        float: right;

        @include breakpoint($xs) {
          display: none;
        }

        i {
          color: white;
          font-size: ms(7);
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translate(40px, 40px) rotate(5deg);
    opacity: 1;
  }
}

@keyframes comeOn {
  0% {
    transform: translate(0, -500px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes upDown {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, -5px);
  }
}